<div>
	<div class="panel panel-default" id="question-list">
		<div class="panel-heading">
			<h2>{{ question.synopsis }}</h2>
			<h4>{{ question.description }}</h4>
		</div>
		<div class="panel-body" >
			<div class="list-group" ng-show="question.answers.length">
				<div class="list-group-item" ng-repeat="item in question.answers | orderBy: '-rating'">
					<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-click="rate(item, 1)"></span>{{item.rating}} 
					<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-click="rate(item, -1)"></span>
					<h4 class="list-group-item-heading">{{ item.answerText }}</h4>
					<div id="answer-body">
						<p class="list-group-item-text">Answered By: {{ item.userName }}</p>
						<p class="list-group-item-text">Approved:
							<span class="glyphicon glyphicon-star" aria-hidden="true" ng-show="item.approved" ng-click="approveAnswer(item, false)"></span>
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true" ng-show="!item.approved" ng-click="approveAnswer(item, true)"></span>
						</p>
						<button ng-click="showCommentForm = true" class="btn btn-primary btn-xs">Add Comment</button>
						<div id="addComment" ng-show="showCommentForm">
							<h3>Add a comment:</h3>
							<form ng-submit="addComment(item, commentText); showCommentForm = false; commentText= null;" class="form-inline" role="form">
								<div class="form-group">
									<input type="text" ng-model="commentText" placeholder="Enter Comment" class="form-control">
								</div>
								<button type="submit" class="btn btn-default">Add</button>
							</form>
						</div>
						<h3>Comments:</h3>
						<div class="list-group">
							<div class="list-group-item" ng-show="item.comments.length" ng-repeat="comment in item.comments">
								<p class="list-group-item-text">{{ comment.description }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h2>Add an answer:</h2>
				<form ng-submit="addAnswer()" class="form" role="form">
					
					<div class="row form-group">
						<div class="col-md-3">
							<input type="text" ng-model="userName" placeholder="your name" class="form-control">
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-md-12">
							<textarea rows="5" ng-model="answerText" placeholder="your answer" class="form-control"></textarea>				
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>

				</form>
	    	</div>
		</div>
	</div>
</div>

